/*--------------------- Copyright (c) 2020 --------------------------
[Master Stylesheet] 
Project: McFarland Clinic
Version: 1.0.0
------------------------------------------------------------------- */
/*---------- Body Start ----------*/
body {
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #797979;
    background-color:#f3f6ff;
    margin: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*---------- Typography CSS Start ----------*/
a, a:hover, a:focus{
	color: #797979;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
	line-height: 1.3;
	color: #111111;
	font-weight:600;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
img {
	max-width: 100%;
}
input, textarea, select, button, label, svg, svg path, svg rect, svg polygon, img, a, :after, :before, :hover, :focus, .form-control:focus{
	outline: none !important;
	box-shadow:none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
a, button{
    cursor: pointer;
}
/*---------- Button CSS Start ----------*/
.mfc_btn{
    min-width: 140px;
    height: 45px;
    border: 1px solid #00853f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    text-transform: capitalize;
    color: #ffffff;
    background-color: #00853f;
    border-radius: 4px;
}
.mfc_btn:hover, .mfc_btn:focus{
    color: #ffffff;
    opacity: 0.9;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
/*---------- Auth CSS Start ----------*/
.mfc_auth_wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    overflow: auto;
    background-color: #00853f;
}
.mfc_auth_wrap_inner{
    width: 480px;
    max-width: 100%;
    margin: 0 auto;
    padding: 70px 0px;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}
.mfc_auth_wrap_inner img{
    width: 180px;
}
.mfc_auth_wrap_inner .mfc_auth_btn{
    display: flex;
    justify-content: center;
    background-color: #e4e5e7;
    border: 1px solid #e4e5e7;
    border-radius: 4px;
    height: 40px;
    margin: 40px 0px 0px 0px;
    align-items: center;
    font-weight: 600;
    width: 250px;
    max-width: 100%;
    font-size: 16px;
    color: #111111;
}
.mfc_auth_wrap_inner .mfc_auth_btn svg{
    margin-right: 15px;
}
.mfc_auth_wrap_inner .mfc_auth_btn:hover{
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
/*---------- Dashboard CSS Start ----------*/
.mfc_main_wrap{
    display: flex;
}
.mfc_sidebar{
    display: flex;
    flex-direction: column;
    width: 249px;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    padding: 25px 0px;
    z-index: 99;
}
.mfc_sidebar .mfc_sidebarlogo{
    display: flex;
    height: fit-content;
    justify-content: center;
}
.mfc_sidebar .mfc_sidebarlogo img{
    width: 150px;
}
.mfc_sidebarmenu{
    margin: 25px 0px 0px 0px;
    padding: 25px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e4e5e7;
}
.mfc_sidebarmenu li{
    list-style: none;
}
.mfc_sidebarmenu li a{
    display: flex;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 1px;
}
.mfc_sidebarmenu li a:hover, .mfc_sidebarmenu li a.active{
    background-color: #00853f;
    color: #ffffff;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.mfc_sidebarmenu li a svg{
    width: 20px;
    margin-right: 15px;
    fill: #797979;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
.mfc_sidebarmenu li a:hover svg,  .mfc_sidebarmenu li a.active svg{
    fill: #ffffff;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
.mfc_main_inner_wrap{
    display: flex;
    width: 100%;
    padding-left: 249px;
    padding-top: 70px;
    position: relative;
}
.mfc_mainheader{
    display: flex;
    height: 55px;
    background-color: #ffffff;
    width: calc(100% - 250px);
    position: fixed;
    right: 0;
    top: 0;
    align-items: center;
    z-index: 1;
}
.mfc_add_news{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.mfc_add_news p{
    margin: 0px;
    padding: 15px;
    cursor: pointer;
}
.mfc_news_wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
}
.mfc_news_box{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0px 15px;
    width: 23%;
    margin-bottom: 30px;
    cursor: pointer;
}
.mfc_news_box:hover{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}
.mfc_news_catepanel{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 10px 15px;
    align-items: center;
}
.mfc_news_cate{
    background-color: rgba(0, 133, 63, 0.2);
    color: #00853f;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.mfc_news_cate.cateclr_1, .mfc_news_popup_cate.cateclr_1{
    background-color: rgba(0, 133, 63, 0.2);
    color: #00853f;
}
.mfc_news_cate.cateclr_2, .mfc_news_popup_cate.cateclr_2{
    background-color: rgba(136, 61, 231, 0.2);
    color: #883de7;
}
.mfc_news_cate.cateclr_3, .mfc_news_popup_cate.cateclr_3{
    background-color: rgba(63, 103, 252, 0.2);
    color: #3f67fc;
}
.mfc_news_cate.cateclr_4, .mfc_news_popup_cate.cateclr_4{
    background-color: rgba(190, 150, 44, 0.2);
    color: #be962c;
}
.mfc_news_cate.cateclr_5, .mfc_news_popup_cate.cateclr_5{
    background-color: rgba(95, 102, 104, 0.2);
    color: #5f6668;
}
.mfc_news_cate.cateclr_6, .mfc_news_popup_cate.cateclr_6{
    background-color: rgba(226, 93, 93, 0.2);
    color: #e25d5d;
}
.mfc_news_cate.cateclr_7, .mfc_news_popup_cate.cateclr_7{
    background-color: rgba(101, 93, 34, 0.2);
    color: #655d22;
}
.mfc_news_indicator{
    width: 10px;
    height: 10px;
    background-color: #607D8B;
    border-radius: 100px;
}
.mfc_news_heading{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
    padding: 0px 15px;
    min-height: 52px;
}
.mfc_news_img{
    display: flex;
}
.mfc_news_img > img{
    object-fit: cover;
    height: 250px;
    width: 100%;
}
.mfc_news_info{
    display: flex;
    padding: 15px;
    align-items: center;
}
.mfc_news_info_img{
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 100px;
    overflow: hidden;
    background-color: #00853f;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mfc_news_info_img img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
}
.mfc_news_info_box{
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.mfc_news_authorpanel{
    display: flex;
    align-items: center;
}
.mfc_news_namepanel{
    font-weight: 600;
    margin-right: 8px;
}
.mfc_news_namepanel a{
    color: #111111;
}
.mfc_news_timepanel{
    font-size: 14px;
}
.mfc_news_scores{
    margin: 0px;
    padding: 0;
    display: flex;
}
.mfc_news_scores li{
    list-style: none;
    margin-right: 15px;
}
.mfc_news_scores li:last-child{
    margin-right: 0px;
}
.mfc_news_scores li a{
    display: flex;
    align-items: center;
}
.mfc_news_scores li a svg{
    width: 16px;
    margin-right: 5px;
    fill: #797979;
}
/*---------- Dashboard Popup CSS Start ----------*/
.mfc_news_popup_wrap{
    position: fixed;
    top: 0px;
    height: 100%;
    background-color: #ffffff;
    width: calc(100% - 250px);
    align-items: center;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e4e5e7;
    z-index: 999;
    overflow-y: scroll;
}
.mfc_news_popup_head{
    border-bottom: 1px solid #e4e5e7;
    padding: 15px;
    right: 0px;
    position: fixed;
    left: 251px;
    background-color: #ffffff;
    z-index: 99;
}
.mfc_news_popup_close{
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: #f3f6ff;
    border-radius: 4px;
    cursor: pointer;
}
.mfc_news_popup_close svg{
    width: 18px;
}
.mfc_news_popup_details{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 675px;
    max-width: 100%;
    padding-top: 100px;
}
.mfc_newspopup_subheading{
    display: flex;
}
.mfc_news_popup_heading{
    font-size: 30px;
    margin: 5px 0px;
}
.mfc_news_popup_authorname{
    color: #111111;
    margin-left: 5px;
    font-weight: 600;
}
.mfc_news_popup_cate{
    background-color: rgba(0, 133, 63, 0.4);
    color: #00853f;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3px;
    display: flex;
    width: max-content;
    margin: 5px 0px 15px 0px;
}
.mfc_news_popup_infopanel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.mfc_news_popup_authorpanel_info{
    display: flex;
    align-items: center;
}
.mfc_news_popup_namepanel{
    display: flex;
    font-weight: 600;
}
.mfc_news_popup_namepanel a{
    color: #00853f;
}
.mfc_news_popup_timepanel{
    display: flex;
    margin-left: 5px;
    font-size: 14px;
}
.mfc_news_popup_scorepanel{
    margin: 0;
    padding: 0;
    display: flex;
}
.mfc_news_popup_scorepanel li{
    list-style: none;
    margin-right: 15px;
}
.mfc_news_popup_scorepanel li:last-child{
    margin-right: 0px;
}
.mfc_news_popup_scorepanel li a{
    display: flex;
    align-items: center;
}
.mfc_news_popup_scorepanel li a svg{
    width: 16px;
    margin-right: 5px;
    fill: #797979;
}
.mfc_news_popup_scorepanel li a span{}
.mfc_news_popup_img{
    display: flex;  
}
.mfc_news_popup_img img{
    width: 100%;
}
.mfc_news_popup_fullinfo{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}
.mfc_news_popup_fullinfo p{
    margin-bottom: 10px;
    margin-top: 0;
}
.mfc_menubar_closer{
    display: none;
}
.mfc_popup_comment_wrap{
    display: flex;
    flex-direction: column;
    border-top: 0px;
    padding-top: 10px;
}
.mfc_popup_newcomment_liked{
    display: flex;
    border-bottom: 1px solid #e4e5e7;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.mfc_popup_newcomment_liked ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.mfc_popup_newcomment_liked ul li{
    list-style: none;
    display: flex;
    font-size: 14px;
}
.mfc_popup_newcomment_liked ul li a{
    display: flex;
}
.mfc_popup_newcomment_liked ul li a svg{
    width: 16px;
    fill: #ff0000;
}
.mfc_popup_newcomment_liked ul li span{
    margin-left: 10px;
}
.mfc_popup_newcomment_liked ul li p{
    margin: 0;
}
.mfc_popup_newcomment_printnmail{
    display: flex;
    border-bottom: 1px solid #e4e5e7;
    margin-bottom: 35px;
    padding-bottom: 15px;
}
.mfc_popup_newcomment_printnmail ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.mfc_popup_newcomment_printnmail ul li{
    list-style: none;
    display: flex;
    font-size: 14px;
    margin-right: 15px;
}
.mfc_popup_newcomment_printnmail ul li:last-child{
    margin-right: 0px;
}
.mfc_popup_newcomment_printnmail ul li a{
    display: flex;
    color: #111111;
}
.mfc_popup_newcomment_printnmail ul li a:hover{
    color: #00853f;
}
.mfc_popup_newcomment_printnmail ul li a svg{
    width: 16px;
    fill: #00853f;
    margin-right: 5px;
}
.mfc_popup_newcomment{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.mfc_popup_newcomment_img{
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 100px;
    overflow: hidden;
    background-color: #00853f;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mfc_popup_newcomment_img img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
}
.mfc_popup_newcomment_text{
    display: flex;
    width: calc(100% - 45px);
    align-items: center;
}
.mfc_popup_newcomment_text input{
    width: 100%;
    border: 1px solid #e4e5e7;
    height: 35px;
    padding: 0px 15px;
    border-radius: 4px 0px 0px 4px;
}
.mfc_popup_newcomment_text button svg{
    width: 35px;
    fill: #00853f;
}
.mfc_popup_newcomment_text button{
    width: 50px;
    border: 0px;
    height: 35px;
    border-radius: 0px 4px 4px 0px;
    padding: 0px 0px 0px 5px;
    background-color: transparent;
}
.mfc_popup_allcomments{
    display: flex;
    flex-direction: column;
}
.mfc_popup_allcomments_heading{
    margin: 20px 0px 10px 0px;
    font-size: 18px;
}
.mfc_popup_allcomments ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.mfc_popup_allcomments ul li{
    list-style: none;
    margin-bottom: 15px;
}
.mfc_popup_allcomments ul li.mfc_comments_reply{
    padding-left: 30px;
}
.mfc_popup_allcomments_box{
    display: flex;
}
.mfc_popup_commenter_img{
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 100px;
    overflow: hidden;
    background-color: #00853f;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mfc_popup_commenter_img img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
}
.mfc_popup_commenter_info{
    display: flex;
    flex-direction: column;
    width: calc(100% - 45px);
}
.mfc_popup_commenter_info h5{
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
}
.mfc_popup_commenter_info h5 a{
    color: #111111;
}
.mfc_popup_commenter_info h5 a:hover{
    color: #00853f;
}
.mfc_popup_commenter_info h5 span{
    color: #797979;
    margin-left: 8px;
}
.mfc_popup_commenter_info p{
    margin: 0px 0px 15px 0px;
}
/*---------- Classified CSS Start ----------*/
.mfc_classifieds_mng{
    display: flex;
    padding: 0px 15px;
}
.mfc_classifieds_mng > ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.mfc_classifieds_mng > ul > li{
    list-style: none;
    margin-right: 20px;
    position: relative;
}
.mfc_classifieds_mng > ul > li:last-child{
    margin-right: 0px;
}
.mfc_classifieds_mng > ul > li > span{
    text-transform: capitalize;
    cursor: pointer;
    padding: 15px 0px;
    position: relative;
    align-items: center;
    display: flex;
}
.mfc_classifieds_mng > ul > li > span:hover{
    color: #00853f;
}
.mfc_classifieds_mng > ul > li:last-child > span:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #797979;
    right: -20px;
}
.mfc_classifieds_mng > ul > li:last-child > span:hover:after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    border-top: 6px solid #00853f;
}
.mfc_classifieds_mng > ul > li:hover > ul{
    opacity: 1;
    visibility: visible;
}
.mfc_classifieds_mng > ul > li > ul{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    border: 1px solid #e4e5e7;
    background-color: #ffffff;
    border-radius: 4px;
    min-width: 140px;
    position: absolute;
    left: 0px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
}
.mfc_classifieds_mng > ul > li > ul > li{
    list-style: none;
}
.mfc_classifieds_mng > ul > li > ul > li > a{
    text-transform: capitalize;
    display: flex;
    padding: 5px 15px;
}
.mfc_classifieds_mng > ul > li > ul > li > a:hover{
    background-color: #e4e5e7;
}
.mfc_classifieds_mng > ul > li > ul > li > a > span{
    margin-left: 8px;
}
.mfc_classifieds_tabledata_wrap{
    display: flex;
    padding: 15px;
    background-color: #ffffff;
    margin: 0px 0px 0px 15px;
    width: 98%;
}
.mfc_classifieds_tabledata_wrap .dataTables_wrapper {
    width: 100%;
}
div.dataTables_wrapper div.dataTables_filter input:focus, div.dataTables_wrapper div.dataTables_length select:focus{
    border-color: #ced4da;
}
.page-item.active .page-link {
    background-color: #00853f;
    border-color: #00853f;
}
.page-link{
    color: #797979;
    padding: 0.7rem 0.95rem;
    border: 1px solid #f3f6ff;
}
.page-link:hover{
    color: #ffffff;
    border: 1px solid #00853f;
    background-color: #00853f;
}
.page-link:focus {
    box-shadow: none;
}
.table thead th {
    border-bottom: 1px solid #111111;
}
table.dataTable th {
    font-weight: 600 !important;
    color: #111111;
}
.table-hover tbody tr:hover {
    background-color: #f3f6ff;
    color: #111111;
}
.table td {
    border-top: 1px solid #f3f6ff;
}
.table th {
    border-top: 1px solid #111111;
}
table.dataTable>tbody>tr.child span.dtr-title, div.dataTables_wrapper div.dataTables_filter label, div.dataTables_wrapper div.dataTables_length label, div.dataTables_wrapper div.dataTables_info {
    color: #111111;
    text-transform: capitalize;
}
div.dataTables_wrapper div.dataTables_filter input, div.dataTables_wrapper div.dataTables_length select {
    height: 45px !important;
    border: 1px solid #e4e5e7;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td img{
    width: 30px;
    height: 23px;
    object-fit: cover;
    margin-right: 5px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 15px 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    border: 0px;
    margin-left: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
    background-color: transparent;
    background: transparent;
}
.page-item.disabled .page-link {
    background-color: #f3f6ff;
    border-color: #f3f6ff;
}
.mfc_classifieds_tabledata_wrap table.dataTable tbody tr{
    cursor: pointer;
}
.mfc_new_classifieds_popup_header{
    display: flex;
    margin: 0;
    padding: 0;
}
.mfc_new_classifieds_popup_header li{
    list-style: none;
    margin-right: 25px;
}
.mfc_new_classifieds_popup_header li a{
    padding: 15px 0px;
}
.mfc_new_classifieds_popup_header li a:hover{
    color: #00853f;
}
.mfc_classifieds_popup_details{
    display: flex;
    padding: 0px;
    width: 96%;
    max-width: 100%;
    padding-top: 100px;
}
.mfc_new_classified_fields_left{
    width: 70%;
    padding: 0px 15px 0px 0px;
}
.mfc_new_classified_fields_right{
    width: 30%;
    padding: 0px 0px 0px 15px;
}
.mfc_classifieds_popup_heading{
    font-size: 24px;
    margin: 0px 0px 20px 0px;
    text-transform: capitalize;
}
.mfc_new_classified_fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.mfc_new_classified_fields h6{
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.mfc_ltr_count{
    font-size: 14px;
    margin: 0;
    font-weight: 100;
    color: #797979;
}
.mfc_note{
    font-size: 13px;
}
.mfc_new_classified_fields input[type="text"], .mfc_new_classified_fields input[type="date"], .mfc_new_classified_fields textarea, .mfc_cate_select_box{
    border: 1px solid #e4e5e7;
    margin-bottom: 30px;
    height: 45px;
    border-radius: 4px;
    padding: 0px 15px;
    width: 100%;
}
.mfc_cate_select_box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    color: #111111;
    cursor: pointer;
}
.mfc_cate_select_box a{
    color: #00853f;
    font-weight: 600;
    font-size: 14px;
}
.mfc_cate_select_box a:hover{
    text-decoration: underline;
}
.mfc_cate_clr_box{
    width: 15px;
    height: 15px;
    background-color: #00853f;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
}
.mfc_new_classified_fields textarea{
    height: auto;
    padding: 15px;
}
.mfc_uploadfile_btn{
    display: flex;
    align-items: center;
    position: relative;
}
.mfc_uploadfile_btn span{
    border: 1px solid #00853f;
    margin-bottom: 5px;
    height: 45px;
    border-radius: 4px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    background-color: #00853f;
    color: #ffffff;
    text-transform: capitalize;
    cursor: pointer;
}
.mfc_new_classified_fields input[type="file"]{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 166px;
    height: 45px;
    border-radius: 4px;
    opacity: 0;
}
.mfc_checkbox{
    display: flex;
    align-items: center;
    position: relative;
}
.mfc_checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: 0;
}
.mfc_checkbox label {
    position: relative;
    padding-left: 30px;
    margin-bottom: 0;
    cursor: pointer;
    color: #111111;
}
.mfc_checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    margin: 0px;
    width: 20px;
    height: 20px;
    transition: transform 0.28s ease;
    border-radius: 4px;
    border: 2px solid #00853f;
}
.mfc_checkbox label:after {
    content: '';
    display: block;
    width: 11px;
    height: 6px;
    border-bottom: 2px solid #00853f;
    border-left: 2px solid #00853f;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 7px;
    left: 5px;
}
.mfc_checkbox input[type="checkbox"]:checked ~ label::before {
    color: #00853f;
}
.mfc_checkbox input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}
.mfc_checkbox input[type="checkbox"]:focus + label::before {
    outline: 0;
}
.mfc_new_classified_fields input[type="date"]{
    padding: 0px 10px;
}
.mfc_new_classified_fields input[type="date"]{
    position: relative;
    cursor: pointer;
}
.mfc_new_classified_fields input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.mfc_cate_color_select{
    position: relative;
    display: flex;
    align-items: center;
}
.mfc_cate_color_select input[type='radio'] {
    display: none;
}
.mfc_cate_color_select label {
    cursor: pointer;
    margin: 0;
    color: #111111;
    width: 100%;
    text-transform: capitalize;
    margin-left: -25px;
    padding: 8px 0px;
    padding-left: 25px;
    border-bottom: 1px solid #e4e5e7;
}
.mfc_cate_color_select label:hover, .mfc_cate_color_select label.active{
    background-color: #f0f8ff;
}
.mfc_cate_color_select label:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #cecece;
    background-color: transparent;
}
.mfc_cate_color_select input[type=radio]:checked + label:before {
    border: 2px solid #8BC34A;
}
.mfc_cate_color_select input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 14px;
    right: 9px;
    content: " ";
    display: block;
    background: #8BC34A;
}
.mfc_cate_clr_box.cateclr_1{
    background-color: #00853f;
}
.mfc_cate_clr_box.cateclr_2{
    background-color: #883de7;
}
.mfc_cate_clr_box.cateclr_3{
    background-color: #3f67fc;
}
.mfc_cate_clr_box.cateclr_4{
    background-color: #be962c;
}
.mfc_cate_clr_box.cateclr_5{
    background-color:#5f6668;
}
.mfc_cate_clr_box.cateclr_6{
    background-color: #e25d5d;
}
.mfc_cate_clr_box.cateclr_7{
    background-color: #655d22;
}
.mfc_nwcsfdclctcateg ul{
    margin: 0;
    padding: 0;
}
.mfc_nwcsfdclctcateg ul li{
    list-style: none;
}
.mfc_nwcsfdclctcateg ul li:last-child .mfc_cate_color_select label {
    border-bottom: 0px;
}
.mfc_nwclsfdcnfrmon p{
    margin: 0;
    color: #111111;
}
/*---------- Responsive CSS Start ----------*/
@media (max-width: 1440px) {
.mfc_news_box {
    margin: 0px 8px;
    margin-bottom: 15px;
}
}
@media (max-width: 1200px) {}
@media (min-width: 992px) and (max-width: 1199px) {
.mfc_news_box {
    margin: 0px 5px;
    width: 48%;
    margin-bottom: 10px;
}
.mfc_news_wrap {
    padding-top: 0px;
    padding-left: 5px;
}
.mfc_new_classified_fields_left {
    width: 60%;
}
.mfc_new_classified_fields_right {
    width: 40%;
}
}
@media (max-width: 991px) {
.mfc_news_wrap {
    padding-top: 0px;
    padding-left: 5px;
}
.mfc_news_box {
    margin: 0px 5px;
    width: 48%;
    margin-bottom: 10px;
}
.mfc_news_popup_details {
    width: 480px;
}
.mfc_news_info {
    padding: 5px;
}
.mfc_classifieds_tabledata_wrap {
    width: 96%;
}
.mfc_classifieds_popup_details {
    padding-top: 70px;
    flex-direction: column;
}
.mfc_new_classified_fields_left {
    width: 100%;
}
.mfc_new_classified_fields_right {
    width: 100%;
    padding: 0px;
}
.mfc_new_classified_fields {
    margin-bottom: 10px;
}
}
@media (max-width: 767px) {
.mfc_menubar_closer{
    display: flex;
    position: absolute;
    top: 8px;
    right: -45px;
    z-index: 9999999;
    background-color: #f3f6ff;
    width: 45px;
    height: 35px;
    justify-content: center;
    align-items: center;
}
.mfc_menubar_closer svg{
    width: 28px;
}
.mfc_sidebar{    
    padding: 15px 0px;
    width: 220px;
	-webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mfc_sidebar.mfc_main_wrap_hide{
	-webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mfc_main_inner_wrap {
    padding-left: 0px;
}
.mfc_mainheader {
    width: 100%;
}
.mfc_news_popup_head {
    left: 0;
    padding: 5px 5px;
}
.mfc_news_popup_details {
    width: 95%;
    padding-top: 55px;
}
.mfc_news_popup_wrap {
    width: 99.8%;
}
.mfc_sidebarmenu {
    margin: 15px 0px 0px 0px;
    padding: 10px 5px 0px 5px;
}
.mfc_news_popup_heading {
    font-size: 18px;
}
.mfc_news_heading {
    font-size: 18px;
    min-height: auto;
    margin: 0px 0px 10px 0px;
    padding: 0px 5px;
}
.mfc_news_catepanel {
    padding: 5px 5px 5px 5px;
}
.mfc_news_info {
    padding: 5px;
}
.mfc_sidebarmenu li a {
    padding: 6px 10px;
}
.mfc_sidebarmenu li a svg {
    width: 18px;
    margin-right: 10px;
}
.mfc_news_popup_infopanel {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.3;
}
.mfc_classifieds_mng {
    width: 100%;
    justify-content: flex-end;
}
.mfc_classifieds_mng > ul > li:last-child {
    margin-right: 20px;
}
.mfc_classifieds_mng > ul > li > ul {
    left: auto;
    right: -20px;
}
.mfc_new_classifieds_popup_header li a {
    padding: 5px 0px;
    font-size: 14px;
}
.mfc_classifieds_tabledata_wrap {
    margin: 0px 0px 0px 0px;
    width: 100%;
}
.mfc_classifieds_popup_details {
    padding-top: 50px;
}
.mfc_classifieds_popup_heading {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}
.mfc_new_classified_fields input[type="text"], .mfc_new_classified_fields input[type="date"], .mfc_new_classified_fields textarea{
    margin-bottom: 10px;
}
.mfc_new_classified_fields h6 {
    margin-bottom: 5px;
    font-size: 15px;
}
}
@media (max-width: 567px) {
.mfc_news_box {
    margin: 0px 0px;
    width: 98%;
    margin-bottom: 10px;
}
.mfc_new_classifieds_popup_header li {
    margin-right: 15px;
}
.mfc_new_classifieds_popup_header li:last-child{
    margin-right: 0px;
}
}